<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealtimeDatabase.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD7D02F62C24B2F800D8D2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7D030C2C24B2FA00D8D2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7D03162C24B2FA00D8D2C2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
